# end
- used to specify what appears at the end a print statement

In [5]:
print ('hello everyone' , end = '\t' )
print('good evening', end = '\t')

hello everyone	good evening

In [6]:
print ('hello everyone' , end = '  ' )
print('good evening', end = '  ')

hello everyone  good evening

In [7]:
print (' good everyone', ' good evening')

 good everyone  good evening

# sep
- used to specify how multiple outputs of the same print statement appear

In [10]:
print('hello everyone','good evening ','welcome to this session')

hello everyone good evening  welcome to this session

In [11]:
print('hello Everyone','good evening','welcome to this session', sep = '')

hello Everyonegood eveningwelcome to this session

In [12]:
print('hello Everyone','good evening','welcome to this session', sep = '   ')

hello Everyone   good evening   welcome to this session

In [13]:
print('hello Everyone','good evening','welcome to this session', sep = '\n')

hello Everyone
good evening
welcome to this session

In [14]:
print('hello Everyone','good evening','welcome to this session', sep = '\t')

hello Everyone	good evening	welcome to this session

**end** end parameter is used to specify what appers what appers at the end of a print statement of a print statement (by default \n)
**sep** : sep parameter is used to specify what appers between multiple output of a single print statement (by default space)

In [15]:
# format function

In [16]:
age = input ('enter your age : ')
print('i am {} year old' .format(age))

enter your age : 21
i am 21 year old

In [17]:
name = input('enter the name : ')
salary = input('enter the monthly salary : ')
print(' {} earns {} per month' .format(name, salary))

enter the name : chaithra
enter the monthly salary : 500000
 chaithra earns 500000 per month

In [1]:
# take two numbers as input and print their sum
num1 = input('enter first number :')
num2 = input('enter second number : ')
result = num1+num2
print('the sum of given number is : ' , result)

enter first number :1
enter second number : 2
the sum of given number is :  12

In [2]:
name = input('enter the name : ')
salary = input('enter the monthly salary : ')
print(' {} earns {} per month' .format(name , salary))

enter the name : chaithra
enter the monthly salary : 50000
 chaithra earns 50000 per month

In [3]:
# take two numbers as input and print their sum 
num1 = input('enter first number : ')
num2 = input('enter second number : ')
result = num1+num2
print('the sum given number is :' , num1+num2)

enter first number : 1
enter second number : 2
the sum given number is : 12

In [4]:
num1 = input('enter first number : ')
num2 = input('enter second number : ')
result = num1+num2
print('the sum given number is :' , num1+num2)

enter first number : 2
enter second number : 3
the sum given number is : 23

In [5]:
# converting a string to a number
a = '100'
type(a)

str

In [6]:
a = int('100')
type(a)

int

In [7]:
a = float('0.004')
type(a)

float

In [8]:
a ='0.002'
type(a)

str

In [9]:
num1 = input('enter first number : ')
num2 = input('enter second number : ')
result = num1+num2
print('the sum given number is :' , num1+num2)
type(int(num1))

enter first number : 1
enter second number : 2
the sum given number is : 12

int

In [3]:
num1 = int(input('enter first number : '))
num2 = int(input('enter second number : '))
result = (int(num1+num2))
print('the sum given number is :' , num1+num2)

enter first number : 1
enter second number : 2
the sum given number is : 3

In [4]:
#take a two number as input and perform arithmatic operations
num1 = int(input('enter first number : '))
num2 = int(input('enter second number :'))
print(' the sum of given numbers is : ', num1+num2)
print(' the diff of given numbers is : ', num1-num2)
print(' the product of given number is : ' , num1 * num2)
print(' the quotient of given numbers is : ', num1 / num2)

enter first number : 10
enter second number :5
 the sum of given numbers is :  15
 the diff of given numbers is :  5
 the product of given number is :  50
 the quotient of given numbers is :  2.0

In [5]:
#take principal amount ,rate of interest and number of years as input and print the simple interest
num1 = int(input('enter principal amount : '))
num2 = int(input('enter rate of interest  :'))
num3 = int(input('enter number of year :'))
result= ((num1*num2*num3)/100)
print('the sum of the result is :',result)

enter principal amount : 2000
enter rate of interest  :10
enter number of year :3
the sum of the result is : 600.0

In [3]:
principal_amount = int(input('enter principal amount : '))
rate = int(input('enter rate of interest  :'))
duration = int(input('enter number of year :'))
interest = (principal_amount * rate * duration)/100
print('the interset {} of the {} year at the rate of {}% is : {}'. format(principal_amount,duration,rate, interest))

enter principal amount : 1000
enter rate of interest  :2
enter number of year :2
the interset 1000 of the 2 year at the rate of 2% is : 40.0

In [7]:
#TAKE two numbers as input from the user and swap them
num1 = int(input('enter first number : '))
num2 = int(input('enter second number :'))
 
print('values before swapping : ')
print('num1 : ' , num1)
print('num2 : ' , num2)
temp=num1
num1=num2
num2=temp
print('values after swapping')
print('num1 : ' , num1)
print('num2 : ' , num2)

enter first number : 1
enter second number :2
values before swapping :
num1 :  1
num2 :  2
values after swapping
num1 :  2
num2 :  1

In [8]:
# take two number as input from the user and swap them without temp variable
num1 = int(input('enter first number : '))
num2 = int(input('enter second number :'))
 
print('values before swapping : ')
print('num1 : ' , num1)
print('num2 : ' , num2)
num1 , num2 = num2 ,num1
print('values after swapping')
print('num1 : ' , num1)
print('num2 : ' , num2)

enter first number : 2
enter second number :5
values before swapping :
num1 :  2
num2 :  5
values after swapping
num1 :  5
num2 :  2